<div class="container-fluid"><br>
  <h3>Informe de productos</h3>
  <div class="row">
    <div class="col s6">
      <%= form_tag "/search/create", method: :get, remote: true, id: "search-form" do %>
        <%= label :date_start, "Fecha de inicio"%>
        <%= date_field_tag :date_start, "" %>
        <%= label :date_end, "Fecha final"%>
        <%= date_field_tag :date_end, "" %>
        <!-- <%=  link_to "Buscar", "/report/product", class: "btn btn-primary btn-md"%> -->
        <%= submit_tag "Buscar",data: { disable_with: "Please wait..." }, name: nil, class: "btn btn-primary btn-md" %>
      <% end %>
    </div>
  </div>
</div>
<div id="resultados">

</div>
