<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :invoice_fecha %>
  </div>

  <div class="field">
    <%= form.label :modo_pago %>
    <%= form.text_field :modo_pago, id: :invoice_modo_pago %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado, id: :invoice_estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
