
  <div class="carousel carousel-slider center" data-indicators="true">
    <!--<div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">COMPRAR</a>
    </div>-->
    <div class="carousel-item" href="#one!">
      <%= image_tag "fondo1.jpg"%>
    </div>
    <div class="carousel-item" href="#two!">
      <%= image_tag "fondo2.jpg"%>
    </div>
    <div class="carousel-item" href="#three!">
      <%= image_tag "fondo3.jpg"%>
    </div>
    <div class="carousel-item" href="#four!">
      <%= image_tag "fondo4.jpg"%>
    </div>
  </div>
  <div class ="main">
    <script type='text/javascript' src='script.js'></script>
    <ul class="lista_informacion">
      <li id="parrafo1"><%= image_tag "compras.png", :alt => "compra_online", :style => "width:115px;height:95px;"%><br><h3>COMPRA ONLINE</h3></a><p>Usa Mercado Pago, la solución de Mercado Libre para pagar de forma segura hasta en 36 cuotas y con el medio de pago que prefieras.</p></li>
      <li id="parrafo2"><%= image_tag "producto.png", :alt => "recibe_producto", :style => "width:115px;height:95px;"%><br><h3>RECIBE EL PRODUCTO</h3><p>Calcula el costo y tiempo de entrega con Mercado Envíos en cada publicación. Págalo con Mercado Pago, ¡el envío es más barato y está asegurado!</p></li>
      <li id="parrafo3"><%= image_tag "compra_protegida.jpg", :alt => "compra_protegida", :style => "width:115px;height:95px;"%><br><h3>COMPRA PROTEGIDA</h3><p>Recibe el producto que esperabas o te devolvemos tu dinero. Paga a través de Mercado Pago y disfruta la tranquilidad de comprar seguro.</p></li>
    </ul>
  </div>
