
  <div class="carousel carousel-slider center" data-indicators="true">
    <!--<div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">COMPRAR</a>
    </div>-->
    <div class="carousel-item" href="#one!">
      <%= image_tag "imagen_fondo.png"%>
    </div>
    <div class="carousel-item" href="#two!">
      <%= image_tag "imagen_fondo2.png"%>
    </div>
    <div class="carousel-item" href="#three!">
      <%= image_tag "imagen_fondo3.png"%>
    </div>
    <div class="carousel-item" href="#four!">
      <%= image_tag "imagen_fondo4.png"%>
    </div>
    <div class="carousel-item" href="#four!">
      <%= image_tag "imagen_fondo5.png"%>
    </div>
  </div>
  <div class ="main">
    <ul class="lista_informacion">
      <li id="parrafo1"><%= image_tag "parrafo1.png", :alt => "compra_online", :style => "width:115px;height:95px;"%><br><h3>COMPRA ONLINE</h3></a><p>Usa Mercado Pago, la solución de Mercado Libre para pagar de forma segura hasta en 36 cuotas y con el medio de pago que prefieras.</p></li>
      <li id="parrafo2"><%= image_tag "parrafo2.png", :alt => "recibe_producto", :style => "width:115px;height:95px;"%><br><h3>RECIBE EL PRODUCTO</h3><p>Calcula el costo y tiempo de entrega con Mercado Envíos en cada publicación. Págalo con Mercado Pago, ¡el envío es más barato y está asegurado!</p></li>
      <li id="parrafo3"><%= image_tag "parrafo3.png", :alt => "compra_protegida", :style => "width:115px;height:95px;"%><br><h3>COMPRA PROTEGIDA</h3><p>Recibe el producto que esperabas o te devolvemos tu dinero. Paga a través de Mercado Pago y disfruta la tranquilidad de comprar seguro.</p></li>
    </ul>
  </div>


<div class="categorias">
  <ul class="zona_categorias">
    <li id="lista_mascotas"></li>
    <li id="lista_electrodomesticos"></li>
    <li id="lista_salud"></li>
    <li id="lista_deportes"></li>
  </ul>
</div>
</body>

<footer>
  <p>All rights reserved, designed by colibrí companies </p>
  <ul class="social_icons">
    <li><a href="#" class="fa fa-facebook"></a></li>
    <li><a href="#" class="fa fa-twitter"></a></li>
    <li><a href="#" class="fa fa-google"></a></li>
</footer>
