<div class="login-page">
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"login-form") do |f| %>

      <h4>Inicio de sesión</h4>
      <%= f.label :email, "Correo electronico" %><br />
      <%= f.email_field :email, autofocus: true %><br>
      <%= f.label :password, "Contraseña" %><br />
      <%= f.password_field :password, autocomplete: "off" %><br>
      <% if devise_mapping.rememberable? -%>
            <div class="checkbox">
              <%= f.check_box :remember_me%>
              <%= f.label :remember_me, "Recordarme" %>
            </div>
      <% end -%><br>
      <button>Iniciar sesion</button><br><br>
      <%= link_to "Registrarse", new_user_registration_path, class:"message"%>
    <% end %>
  </div>
</div>

<script>
$('.message a').click(function(){
 $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
