
  <%= form_with(model: product, local: true) do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="input-field col s10">
      <%= form.label :nombre %>
      <%= form.text_field :nombre, id: :product_nombre %>
    </div>

    <div class="input-field col s10">
      <%= form.label :descripcion %>
      <%= form.text_area :descripcion, id: :product_descripcion, class:"materialize-textarea" %>
    </div>

    <div class="input-field col s10">
      <%= form.label :marca %>
      <%= form.text_field :marca, id: :product_marca %>
    </div>

    <div class="input-field col s10">
      <%= form.label :categoria %>
      <%= form.text_field :categoria, id: :product_categoria %>
    </div>

    <div class="input-field col s10">
      <%= form.label :cantidad %>
      <%= form.number_field :cantidad, id: :product_cantidad %>
    </div>

    <div class="input-field col s10">
      <%= form.label :precio %>
      <%= form.number_field :precio, id: :product_precio %>
    </div>

    <div class="actions col s10">
      <%= form.submit "Crear producto",class:"waves-effect waves-light btn"%>
    </div>
  <% end %>
