<div class="card-panel grey lighten-5">
  <p id="notice"><%= notice %></p>

  <h1>Productos</h1>
    <table class="responsive-table striped centered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Marca</th>
          <th>Categoria</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.nombre %></td>
            <td><%= product.descripcion %></td>
            <td><%= product.marca %></td>
            <td><%= product.categoria %></td>
            <td><%= product.cantidad %></td>
            <td><%= product.precio %></td>
            <td><%= link_to 'Editar', edit_product_path(product), class:"teal-text text-darken-2" %></td>
            <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' }, class:"red-text text-darken-2" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <br>

  <%= link_to 'Nuevo Producto', new_product_path, class:"waves-effect waves-light btn" %>
</div>

<%= form_tag "/search/create", method: :get, remote: true, id: "search-form" do %>
  <%= label :date_start, "Fecha de inicio"%>
  <%= date_field_tag :date_start, nil %>
  <%= label :date_end, "Fecha final"%>
  <%= date_field_tag :date_end, nil %>
  <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
<% end %>
