<div class="card-panel grey lighten-5">
<div class="container-fluid"><br>
  <h3>Informe de productos</h3>
  <div class="row">
    <div class="col s6">
      <%= form_tag "/products/report", method: :get do %>
        <%= label :date_start, "Fecha de inicio"%>
        <%= date_field_tag :date_start, nil %>
        <%= label :date_end, "Fecha final"%>
        <%= date_field_tag :date_end, nil %>
        <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
      <% end %>
    </div>
  </div>
</div>



  <p id="notice"><%= notice %></p>

  <h1>Productos</h1>
    <table class="responsive-table striped centered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Marca</th>
          <th>Categoria</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.nombre %></td>
            <td><%= product.descripcion %></td>
            <td><%= product.marca %></td>
            <td><%= product.categoria %></td>
            <td><%= product.cantidad %></td>
            <td><%= product.precio %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <br>
</div>
