<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.descripcion %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @product.marca %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @product.categoria %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @product.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Regresar', products_path %>
