<!DOCTYPE html>
<html>
  <head>
    <title> Tienda Online </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "carousel" %>
    <meta charset="utf-8">
   	<link rel='stylesheet' type='text/css' href='stylesheet.css'/>
   	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   	<link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
   	<link href="jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
   	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



  </head>

  <body>
    <%= render "partials/nav_bar" %>
    <!-- manejo de alertas y noticia por parte de devise (usuario) -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
<!--script para el carrusel -->
<script>
  $('.carousel.carousel-slider').carousel({
    fullWidth: true
});
autoplay()
function autoplay() {
    $('.carousel.carousel-slider').carousel('next');
    setTimeout(autoplay, 4500);
}
</script>
